.weather-app {
    margin: 20px;
}

/*** MEDIA QUERIES ***/
@media screen and (min-width: 650px) {
    .weather-app {
        margin: 20px auto;
        padding: 2rem;
        max-width: 650px;
    }
}
