.forecast-summaries {
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.forecast-summary {
    padding: 1rem;
}

/*** MEDIA QUERIES ***/
@media screen and (min-width: 1000px) {
    .forecast-summaries {
        flex-direction: row;
    }
}