@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

body {
  /* background: #eceef1; */
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.Clouds {
  background-image: url("../images/clouds.jpg");
  background-size: cover;
}
body.Rain {
  background-image: url("../images/rain.jpg");
  background-size: cover;
}
body.Clear {
  background-image: url("../images/clear.jpg");
  background-size: cover;
}